<div class="container" *ngIf="country$ | async as country">
  <button (click)="onBack()">Retour</button>
  <h1>{{ country.country }}</h1>
  <div class="stats-container">
    <app-box [title]="'Participations'" [value]="country.participations.length"></app-box>
    <app-box [title]="'Total médailles'" [value]="getTotalMedals(country)"></app-box>
    <app-box [title]="'Total athlètes'" [value]="getTotalAthletes(country)"></app-box>
  </div>
  <div class="chart-wrapper">
    <canvas #lineChart></canvas>
  </div>
</div>
