<div class="container" *ngIf="country$ | async as country">
  <button class="back-button" (click)="onBack()">← Retour</button>

  <h1>{{ country.country }}</h1>

  <div class="stats">
    <div class="stat-item">
      <h3>Participations</h3>
      <p>{{ country.participations.length }}</p>
    </div>
    <div class="stat-item">
      <h3>Total Médailles</h3>
      <p>{{ getTotalMedals(country) }}</p>
    </div>
    <div class="stat-item">
      <h3>Total Athlètes</h3>
      <p>{{ getTotalAthletes(country) }}</p>
    </div>
  </div>

</div>
