.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

button {
  padding: 5px 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 20px;
}

.chart-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .chart-wrapper {
    aspect-ratio: 4/3;
  }
}
